## 2. Creating my own Database with MySQL

In [39]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import re
from dotenv import load_dotenv
import sqlalchemy as sqlalc

In [70]:
df_episode_final = pd.read_csv(r"..\Project_4_Sentiment-Analysis-API\cleaned_data\df_all_episodes.csv")

In [71]:
df_episode_final.head()

  character                                           dialogue     episode
0  THREEPIO  Did you hear that  Theyve shut down the main r...  episode IV
1  THREEPIO                                        Were doomed  episode IV
2  THREEPIO   Therell be no escape for the Princess this time.  episode IV
3  THREEPIO                                         Whats that  episode IV
4  THREEPIO  I should have known better than to trust the l...  episode IV

### Connect to SQL

In [82]:
password = getpass("Inseet your password here: ")

Inseet your password here: ········

In [85]:
dbName = "starwars"

In [86]:
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [87]:
engine = alch.create_engine(connectionData)

In [88]:
list(engine.execute("SELECT * FROM dialogue"))

[]

```mysql
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema starwars
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema starwars
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `starwars` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
-- -----------------------------------------------------
-- Schema star wars
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema starwars
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema starwars
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `starwars` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `starwars` ;

-- -----------------------------------------------------
-- Table `starwars`.`dialogue`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `starwars`.`dialogue` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `character` VARCHAR(45) NULL,
  `dialogue` TEXT NULL,
  `episode` VARCHAR(45) NULL,
  PRIMARY KEY (`id`))
ENGINE = InnoDB;

USE `starwars` ;

SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;
```

### Checking function

In [89]:
def checkInfo(table, str2):
    
    if table == "dialogue":
        query = list(engine.execute(f"SELECT text FROM dialogue WHERE text = '{str2}';"))
        if len(query) > 0:
            return True
        else:
            return False

In [90]:
def insertDialogue(str1, str2, str3):
    if checkInfo("dialogue", str2):
        return "It already exists"
    else:
        engine.execute(f"INSERT INTO starwars(character, text, episode) VALUE ('{str1}', '{str2}', '{str3}');")

In [91]:
for index, row in df_episode_final.iterrows():
    try:
        insertDialogue(row['character'], row['dialogue'], row['episode'])
    except (ValueError, TypeError):
        pass

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'character, text, episode) VALUE ('THREEPIO', 'Did you hear that  Theyve shut dow' at line 1")
[SQL: INSERT INTO starwars(character, text, episode) VALUE ('THREEPIO', 'Did you hear that  Theyve shut down the main reactor.  Well be destroyed for sure.  This is madness', 'episode IV');]
(Background on this error at: https://sqlalche.me/e/14/f405)